body {
    background-image: url('/wallpapersden.com_a-new-planet-4k-sunrise_3840x2152.jpg');
    background-size: cover;
    color: #ffffff;
}


.app-container {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 20px;
}
