.app-container {
    display: flex;
    height: 100vh;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

#header {
    padding: 20px;
    background-color: #222222; /* Dark header background */
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

#grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding-top: 100px;
    justify-content: flex-start;
    margin: 0 auto;
    max-width: calc(80px * 10 + 15px * 9);
}

.icon {
    flex: 1 1 9%;
    max-width: 80px;
    min-width: 80px;
    height: 80px;
    background-color: #444444; /* Dark icon background */
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-sizing: border-box;
    color: #ffffff; /* White text on icons */
}

body {
    background-color: #222222; /* Dark background for the body */
    color: #ffffff; /* White text color */
}
